<body class="hero">
  <div class="signin-section ">
    <img src="../../../assets/icons/nav.png" class="logo" alt="Screen">
    <div id="content-part">

    </div>
    <div id="form-part">
      <div class="top-line">
        <a class="part-one">Complete The Steps</a>
        <a class="part-two">Step 1</a>
      </div>
      <form>
        <div class="form-uh ">
          <div class="form-group onboarding">
            <label>Add project and start your journey </label>
            <input name="text" id="icon" type="text" class="form-control " required placeholder="">
          </div>
          <a href="/keyword-lists" class="btn login-button button" type="submit">
            Next
          </a>

        </div>
      </form>
    </div>
  </div>


</body>
