<!-- Settings Part -->

<!-- Settings Part -->

<nav class="navbar fixed-top">
  <!-- <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo mr-5"><img src="../assets/icons/logo.svg" class="mr-2" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini"><img src="../assets/icons/logo.svg" alt="logo" /></a>
  </div> -->
  <div class="navbar-menu-wrapper">
    <!-- <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="icon-menu"></span>
    </button> -->


    <!-- Search Bar -->

    <div class="logo">
      <img src="../../../assets/icons/nav.png" alt="">
    </div>


    <ul class="menus fr justify-content-around">
      <li class="nav-item fr  dropdown">
        <a class="nav-link  fr align-items-center" data-toggle="dropdown" id="profileDropdown">
          <div class="content">
            <h5 style="color: white;" class="m-0"> Dashboard</h5>
          </div>
          <svg class="ml-2" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L6 6L11 1" stroke="white" stroke-width="2" />
          </svg>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
          <a class="dropdown-item" [routerLink]="['/account-settings']">
            Start new
          </a>
          <a class="dropdown-item">
            View Projects
          </a>
        </div>
      </li>
      <li class="nav-item fr  dropdown">
        <a class="nav-link  fr align-items-center" data-toggle="dropdown" id="profileDropdown">
          <div class="content">
            <h5 style="color: white;" class="m-0"> Keywords</h5>
          </div>
          <svg class="ml-2" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L6 6L11 1" stroke="white" stroke-width="2" />
          </svg>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
          <a class="dropdown-item" [routerLink]="['/keyword-lists']">
            Keyword List
          </a>
          <a class="dropdown-item" [routerLink]="['/research-results']">
            Keyword Results
          </a>

        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" [routerLink]="['/dashboard']" aria-expanded=" false"
          aria-controls="ui-basic">
          <span class="menu-title">Dashboard</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link">Start New</a>
            </li>
            <li class="nav-item"> <a class="nav-link">View projects</a></li>
          </ul>
        </div>
      </li> -->
      <!-- Nav -->

      <!-- <li class="nav-item nav20" [routerLink]="['/keyword-lists']">
        <a class="nav-link">
          <span class="menu-title">Keyword List </span>
        </a>
      </li>

      <li class="nav-item nav21" [routerLink]="['/research-results']">
        <a class="nav-link">
          <span class="menu-title">Keyword Results </span>
        </a>
      </li> -->


      <!-- Nav Single -->
      <li class="nav-item nav30" [routerLink]="['/publishing']">
        <a class="nav-link">
          <span class="menu-title">Articles</span>
        </a>
      </li>
      <!-- Nav Single -->


      <!-- Nav Single -->
      <li class="nav-item nav50" [routerLink]="['/billing']">
        <a class="nav-link">
          <span class="menu-title">Billing</span>
        </a>
      </li>
      <!-- Nav Single -->


      <!-- Nav Single -->
      <li class="nav-item nav70" [routerLink]="['/account']">
        <a class="nav-link">
          <span class="menu-title">Settings</span>
        </a>
      </li>
      <!-- Nav Single -->

    </ul>

    <!-- Notification and account -->

    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown">
        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
          <i style="color: white;" class="icon-bell mx-0"></i>
          <span class="count"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
          aria-labelledby="notificationDropdown">
          <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
          <!-- <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-success">
                <i class="ti-info-alt mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal">Application Error</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                Just now
              </p>
            </div>
          </a>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-warning">
                <i class="ti-settings mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal">Settings</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                Private message
              </p>
            </div>
          </a>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-info">
                <i class="ti-user mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal">New user registration</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                2 days ago
              </p>
            </div>
          </a> -->
        </div>
      </li>
      <li class="nav-item nav-profile dropdown">

        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="profileDropdown">
          <div class="content">
            <h5 style="color: white;" class="m-0"> Chris Martin</h5>
            <div class="account-type">Free Account</div>
          </div>
          <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L6 6L11 1" stroke="white" stroke-width="2" />
          </svg>

        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
          <a class="dropdown-item" [routerLink]="['/account-settings']">
            <i class="ti-settings text-primary"></i>
            Settings
          </a>
          <a class="dropdown-item" (click)="logOut()">
            <i class="ti-power-off text-primary"></i>
            Logout
          </a>
        </div>
      </li>
      <!-- <li class="nav-item nav-settings d-none d-lg-flex">
        <a class="nav-link" href="#">
          <i class="icon-ellipsis"></i>
        </a>
      </li> -->
    </ul>

    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      data-toggle="offcanvas">
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>
<!-- partial -->
