nav {
  background: linear-gradient(270deg, #124877 5.58%, #003056 95.63%);
  // margin: 2em;
  // margin-left: 16em;
  // border-radius: 16px;
  display: flex;
  justify-content: center;

}

.navbar-brand-wrapper,
.navbar-menu-wrapper {
  background: linear-gradient(270deg, #124877 5.58%, #003056 95.63%);
  width: 100%;
  padding: 0;
}

.nav-profile .nav-link {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  .content {
    margin: 0em 2em 0em 1em;
  }

  .content .account-type {
    color: #1ABE97;
    font-weight: 800;
    font-size: 0.8em;
  }
}
