<div class="dashboard screen">
  <!-- <div class="welcome">Welcome to the Dashboard</div> -->
  <div class="first-section">
    <div class="part-one">
      <div class="card cards-banner">
        <div class="top-line">Analytics Score</div>
        <div class="cards">
          <div class="card-uh">
            <div class="card-line">Overall</div>
            <div class="card-content">49</div>
          </div>
          <div class="card-uh">
            <div class="card-line">Plagiarism</div>
            <div class="card-content">9</div>
          </div>
          <div class="card-uh">
            <div class="card-line">Content</div>
            <div class="card-content">2</div>
          </div>
          <div class="card-uh">
            <div class="card-line">Quality</div>
            <div class="card-content">49</div>
          </div>
        </div>
      </div>

      <div class="lists">
        <div class="two-one card">
          <div class="card-meta fr">
            <div class="card-name">Recent Articles <span>93</span></div>
            <div class="card-options" [routerLink]="['/article-lists']">View all</div>
          </div>
          <div class="card-content">
            <!-- <div class="no-content">No recent article keywords</div> -->
            <div class="content">
              <div class="content-table">
                <div class="content-tr">
                  <div class="blog-name"> How to make food at home? </div>
                  <div>99</div>
                </div>
                <div class="content-tr">
                  <div class="blog-name"> How to make food at office? </div>
                  <div>99</div>
                </div>
                <div class="content-tr">
                  <div class="blog-name"> How to make food? </div>
                  <div>99</div>
                </div>
                <div class="content-tr">
                  <div class="blog-name"> How to make cook and eat... </div>
                  <div>99</div>
                </div>
                <div class="content-tr">
                  <div class="blog-name"> How to make food at home? </div>
                  <div>99</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="two-two card">
          <div class="card-meta fr">
            <div class="card-name">Recent Keywords</div>
            <div class="card-options" [routerLink]="['/keyword-lists']">View all</div>
          </div>
          <div class="card-content">
            <!-- <div class="no-content">No recent article keywords</div> -->
            <div class="content">
              <div class="content-table">
                <div class="content-tr">
                  <div class="blog-name">Keyword name 1 <span>(one, two, three)</span> </div>
                  <div>99</div>
                </div>
                <div class="content-tr">
                  <div class="blog-name">Keyword name 1 <span>(one, two, three)</span> </div>
                  <div>99</div>
                </div>
                <div class="content-tr">
                  <div class="blog-name">Keyword name 1 <span>(one, two, three)</span> </div>
                  <div>99</div>
                </div>
                <div class="content-tr">
                  <div class="blog-name">Keyword name 1 <span>(one, two, three)</span> </div>
                  <div>99</div>
                </div>
                <div class="content-tr">
                  <div class="blog-name">Keyword name 1 <span>(one, two, three)</span> </div>
                  <div>99</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="part-two">
      <div class="two-one card">
        <div class="card-meta fr">
          <div class="card-name">Articles Lists <span>93</span></div>
          <div class="card-options" [routerLink]="['/article-lists']">View all</div>
        </div>
        <div class="card-content">
          <!-- <div class="no-content">No recent article keywords</div> -->
          <div class="content">
            <div class="content-table">
              <div class="content-tr">
                <div class="blog-name"> How to make food at home? </div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> How to make food at office? </div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> How to make food? </div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> How to make cook and eat... </div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> How to make food at home? </div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> How to make food at home? </div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> How to make food at office? </div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> How to make food? </div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> How to make cook and eat... </div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> How to make food at home? </div>
                <div>99</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="second-section fr">
    <div class="second-one card">
      <div class="card-meta fr">
        <div class="card-name">Articles Published</div>
        <div class="fr card-two">
          <div class="card-span">
            <div class="form-group">
              <!-- <div class="">
                  <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton8"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Export
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton8">
                      <a class="dropdown-item" href="#">As Google Doc</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">To Wordpress</a>
                      <div class="dropdown-divider"></div>
              </div>
            </div>
          </div> -->
            </div>
          </div>
          <div class="card-options">
            <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.1445 25.3335H19.4707V28.0002H22.1445V25.3335Z" fill="black" />
              <path d="M22.1445 18.6665H19.4707V21.3332H22.1445V18.6665Z" fill="black" />
              <path d="M22.1445 12H19.4707V14.6667H22.1445V12Z" fill="black" />
            </svg>
          </div>
        </div>
      </div>
      <div class="card-content">
        <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels"
          [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
    <div class="second-two fc">
      <div class="two-one card">
        <div class="card-meta fr">
          <div class="card-name">Keywords List <span>13</span></div>
          <div class="card-options" [routerLink]="['/keyword-lists']">View all</div>
        </div>
        <div class="card-content">
          <!-- <div class="no-content">No recent article keywords</div> -->
          <div class="content">
            <div class="content-table">
              <div class="content-tr">
                <div class="blog-name"> Keyword name 1 <span>(one, two, three)</span></div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> Keyword name 1 <span>(one, two, three)</span></div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> Keyword name 1 <span>(one, two, three)</span></div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> Keyword name 1 <span>(one, two, three)</span></div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> Keyword name 1 <span>(one, two, three)</span></div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> Keyword name 1 <span>(one, two, three)</span></div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> Keyword name 1 <span>(one, two, three)</span></div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> Keyword name 1 <span>(one, two, three)</span></div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> Keyword name 1 <span>(one, two, three)</span></div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> Keyword name 1 <span>(one, two, three)</span></div>
                <div>99</div>
              </div>
              <div class="content-tr">
                <div class="blog-name"> Keyword name 1 <span>(one, two, three)</span></div>
                <div>99</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="two-two card">
        <div class="card-meta fr">
          <div class="card-name">Longest form articles</div>
          <div class="card-options" [routerLink]="['/keyword-lists']">View all</div>
        </div>
        <div class="card-content">
          <div class="no-content">No recent article keywords</div>
        </div>
      </div> -->
    </div>
  </div>

</div>
