$positive-circle : #82d428;
$negative-circle : #ff6e00;
$circle-gray : #e4e4e4;
$header-black : #242a32;
$background-color : #6fcae7;
$tab-text : #5d5d5d;
$white : #fff;
$reviews-text-black: #363636;
$white-light-gray : #f9f9f9;

@mixin user-select() {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}



.aspect-tab {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 10px;
  border-color: #FFF !important;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 0 0 .5px #1ABE97;
  opacity: 1;
  transition: box-shadow .2s, opacity .4s;

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .11);
  }
}

.aspect-input {
  display: none;
}

.aspect-input:checked~.aspect-content+.aspect-tab-content {
  max-height: 3000px;
}

.aspect-input:checked~.aspect-content:after {
  transform: rotate(0);
}

.aspect-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 80px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  z-index: 1;
  cursor: pointer;

  &:hover~.aspect-content:after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiM1NTZBRUEiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=');
  }
}

.aspect-content {
  position: relative;
  display: block;
  height: 80px;
  margin: 0;
  padding: 0 87px 0 30px;
  // font-size: 0;
  white-space: nowrap;
  cursor: pointer;
  @include user-select();

  &:before,
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
  }

  &:before {
    height: 100%;
  }

  &:after {
    position: absolute;
    width: 24px;
    height: 100%;
    right: 30px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNBOUFDQUYiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
  }
}

.aspect-name {
  display: inline-block;
  // width: 75%;
  // margin-left: 16px;
  font-weight: 800;
  // font-size: 1em !important;
  color: $header-black;
  white-space: normal;
  text-align: left;
  vertical-align: middle;
}

.aspect-stat {
  width: 40%;
  text-align: right;
}

.all-opinions,
.aspect-name {
  font-size: 1.1em;
  line-height: 22px;
}

.all-opinions {
  color: $tab-text;
  text-align: left;
}

.aspect-content+.aspect-tab-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
}

.aspect-content>div,
.aspect-stat>div {
  display: inline-block;
}

.aspect-content>div {
  vertical-align: middle;
}

.aspect-tab-content {
  background-color: #FFF;
  // font-size: 0;
  text-align: justify;
}

.sentiment-wrapper {
  // padding: 24px 30px 30px;
  padding: 0;

}

// .sentiment-wrapper>div {
//   display: inline-block;
//   width: 33.3%;
//   max-width: 390px;
//   padding: 0 5px;
//   box-sizing: border-box;
//   vertical-align: top;
//   cursor: default;
// }

.sentiment-wrapper>div {
  width: 100%;
  padding: 16px 24px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  border: 0px solid #ececec;
  line-height: 20px;

  text-align: left;
}

.opinion-header {
  position: relative;
  width: 100%;
  margin: 0 0 24px;
  font-size: 1em;
  // font-weight: 500;
  line-height: 1.5em;
  color: $header-black;
}

.opinion-header>span:nth-child(2) {
  position: absolute;
  right: 0;
}

.opinion-header+div>span {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: $reviews-text-black;
}

@media screen and (max-width: 800px) {
  .aspect-label {
    max-height: 102px;
  }

  .aspect-content {
    height: auto;
    padding: 10px 87px 10px 30px;

    &:before {
      display: none;
    }

    &:after {
      top: 0;
    }
  }

  .aspect-content>div {
    display: block;
    width: 100%;
  }

  .aspect-stat {
    margin-top: 10px;
    text-align: left;
  }
}

@media screen and (max-width: 750px) {
  .sentiment-wrapper>div {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .sentiment-wrapper>div:not(:first-child) {
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .aspect-label {
    max-height: 140px;
  }

  .aspect-stat>div {
    display: block;
    width: 100%;
  }

  .all-opinions {
    margin-bottom: 10px;
  }

  .all-opinions+div>span:first-child {
    margin: 0;
  }
}







.screen {
  // margin-top: 20vh;
  margin: 6vh 2em;
  justify-content: space-between;

  .top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0em;

    .content-one {
      font-weight: 800;
      color: #11142D;
      font-size: 1.2em;

      span {
        color: rgba(17, 20, 45, 0.363)
      }
    }
  }

  .box-screen {
    background-color: #F6F6F6;
    border-radius: 1em;
    padding: 2em 2em;
    margin: 1em 0em;

    .content {
      .content-heading {
        margin-bottom: 1em;
        color: #000;
        font-weight: 800;
        font-size: 1.2em;
        margin-top: 1em;
      }

      .end-line {
        margin: 2em 0em;
      }
    }
  }

  .botton-row {
    display: flex;
    justify-content: center;
  }


}

.btn {
  font-size: .8em;
  // line-height: 1em;
  color: #FFF;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 0em 0;
  padding: 1em 3em;
  background-color: #1ABE97;
  font-weight: 600;
  box-shadow: 0px 4px 50px 0px #00000017;

}

.box {
  display: flex;

  .score-bar {
    background-color: #FFF;
    width: 35%;
  }
}

.score-bar {

  .screen-two {
    // margin-top: 20vh;
    margin: 6vh 0em;
    justify-content: space-between;

    .top-line {
      align-items: center;
      font-weight: 800;
      color: #11142D;
      font-size: 1.2em;
      padding: 0em 1em;
      margin-bottom: 0em;
    }

    .overall-score,
    .score-one,
    .score-two,
    .score-three {
      padding: 1em 1em;
      /* Add the blur effect */
    }

    .not-premium {
      display: inline-flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      -webkit-user-select: none;
      /* Safari */
      -ms-user-select: none;
      /* IE 10 and IE 11 */
      user-select: none;
    }

    .not-premium-cta {
      display: flex;
      justify-content: center;
      position: absolute;

      button {
        background-color: #00355D;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0em 2em;
        // width: 50%;
      }

      svg {
        margin: 0em 1em;
      }
    }

    .not-premium-score {
      filter: blur(8px);
      -webkit-filter: blur(8px);

      .score-two {
        filter: blur(0px) !important;
        -webkit-filter: blur(0px) !important;

      }
    }

    .overall-score {
      margin-top: 1em;
      padding: 1em 1em;
      background-color: #F1F8FE;
    }

    .score {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;

      .score-name {
        font-weight: 500;
      }

      .score-value {
        font-weight: 800;
      }
    }

    hr {
      border-color: #F1F8FE;
      margin: .7em 0em;
    }

    a {
      font-size: .7em;
      text-decoration: underline;
    }

    button {
      font-size: .7em;
    }
  }

}
