<div class="screen">
  <div class="top-line">
    Payment
  </div>
  <div class="box-screen">
    <!-- <div class="top-line">Billing Information</div> -->
    <div class="box-content">
      <form class="">
        <!-- <div class="radio-cards">
          <div class="radio-group row justify-content-start px-3 text-center a">
            <div class="col-auto mr-sm-2 mx-1 card-block py-0 text-center radio selected ">
              <div class="flex-row">
                <div class="col">
                  <div class="pic"> <img class="irc_mut img-fluid" src="https://i.imgur.com/6r0XCez.png" width="100"
                      height="100">
                  </div>
                  <p>Credit Card</p>
                </div>
              </div>
            </div>
            <div class="col-auto ml-sm-2 mx-1 card-block py-0 text-center radio ">
              <div class="flex-row">
                <div class="col">
                  <div class="pic"> <img class="irc_mut img-fluid" src="https://i.imgur.com/bGCqROr.png" width="100"
                      height="100">
                  </div>
                  <p>Paypal</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Cardholder Name </label>
              <input name="email" type="email" class="form-control success" required placeholder="Chris Martin">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Card Number</label>
              <input name="email" type="email" class="form-control success" required placeholder="2564 1421 0897 1244">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Expiration Date</label>
              <input name="email" type="email" class="form-control success" required placeholder="02/2022">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>CVV</label>
              <input name="password" placeholder='***' type="password" class="form-control" required
                placeholder="Enter Password ">
            </div>
          </div>
        </div>
        <div class="botton-row">
          <button [routerLink]="['/dashboard/payment-card-info']" routerLinkActive="router-link-active"
            data-toggle="modal" class="btn" type="submit">
            Proceed
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
