.screen {
  // margin-top: 20vh;
  margin: 7vh 2em;

  .top-line {
    font-weight: 800;
    color: #000;
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .box-screen {
    background-color: #fff;
    border-radius: 2em;
    padding: 4em 8em;
    margin: 2em 10em;

    .top-line {
      font-weight: 800;
      color: #000;
      font-size: 0.8em;
    }
  }

  .botton-row {
    display: flex;
    justify-content: center;
  }

  .btn {
    font-size: 1em;
    line-height: 1em;
    color: #FFF;
    width: 20%;
    text-align: center;
    margin: 1em 0;
    border-radius: 5px;
    padding: 1em 1.2em;
    background-color: #1ABE97;
    font-weight: 600;
    box-shadow: 0px 4px 50px 0px #00000017;

  }
}


p {
  font-size: 14px
}

.btn-primary {
  background-color: #42A5F5 !important;
  border-color: #42A5F5 !important
}

.cursor-pointer {
  cursor: pointer;
  color: #42A5F5
}

.pic {
  margin-top: 30px;
  margin-bottom: 20px
}

.card-block {
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 5px !important;
  background-color: #FAFAFA;
  margin-bottom: 30px
}

.card-body.show {
  display: block
}

.card {
  padding-bottom: 20px;
  box-shadow: 2px 2px 6px 0px rgb(200, 167, 216)
}

.radio {
  display: inline-block;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  color: #000;
  font-weight: 500;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%)
}

.radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1)
}

.radio.selected {
  box-shadow: 0px 8px 16px 0px #EEEEEE;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%)
}

.selected {
  background-color: #E0F2F1
}

.a {
  justify-content: center !important
}

.btn {
  border-radius: 0px
}

.btn,
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important
}
