<div class="screen">
  <div class="top-line">
    Payment
  </div>
  <div class="box-screen">
    <div class="top-line">Billing Information</div>
    <div class="box-content">
      <form class="">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Company Name </label>
              <input name="email" type="email" class="form-control success" required
                placeholder="Ex. yourmail@domain.com">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Full Name </label>
              <input name="password" type="password" class="form-control" required placeholder="Enter Password ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Street</label>
              <input name="email" type="email" class="form-control success" required
                placeholder="Ex. yourmail@domain.com">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>ZIP Code </label>
              <input name="password" type="password" class="form-control" required placeholder="Enter Password ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>City</label>
              <input name="email" type="email" class="form-control success" required
                placeholder="Ex. yourmail@domain.com">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>State </label>
              <input name="password" type="password" class="form-control" required placeholder="Enter Password ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Country</label>
              <input name="email" type="email" class="form-control success" required
                placeholder="Ex. yourmail@domain.com">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>VAT ID (if applicable) </label>
              <input name="password" type="password" class="form-control" required placeholder="Enter Password ">
            </div>
          </div>
        </div>
        <div class="botton-row">
          <button [routerLink]="['/payment-card-info']" routerLinkActive="router-link-active"
            data-toggle="modal" class="btn" type="submit">
            Proceed
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
