<nav class="sidebar sidebar-offcanvas " id="sidebar">
  <div class="profile">
    <!-- <div class="profile-image">
      <img src="../../../assets/icons/Container.png" alt="">
    </div>
    <div class="profile-name">Chris Martin</div>
    <div class="profile-type">Free account</div> -->
    <div class="form-group">
      <!-- <label class="col-sm-3 col-form-label"></label> -->

      <ng-select class="custom" [items]="projects" bindLabel="name" bindValue="id" [(ngModel)]="selectedProject">
      </ng-select>


    </div>
  </div>
  <div class="profile-end"><svg width="224" height="1" viewBox="0 0 224 1" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <line y1="0.5" x2="224" y2="0.5" stroke="#E1E1FB" />
    </svg>
  </div>

  <ul class="nav">

    <!-- Nav -->
    <!-- <li class="nav-item nav10" (click)="toValhalla(10)">
      <a class="nav-link" [routerLink]="['/dashboard']">
        <i class="ti-bell menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li> -->
    <li class="nav-item nav10" (click)="toValhalla(10)">
      <a class="nav-link" data-toggle="collapse" [routerLink]="['/dashboard']" aria-expanded=" false"
        aria-controls="ui-basic">
        <i class="ti-bell menu-icon"></i>
        <span class="menu-title">Dashboard</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link">Start New</a>
          </li>
          <li class="nav-item"> <a class="nav-link">View projects</a></li>
        </ul>
      </div>
    </li>
    <!-- Nav -->
    <!-- Nav Dropdown -->
    <!-- <li class="nav-item nav10" (click)="toValhalla(10)">
      <a class="nav-e link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">Auth Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item nav10" (click)="toValhalla(10)"> <a class=[routerLink]="['//dashboard/signin']">
              Signi"nav-link" n </a>
          </li>
          <li class="nav-item nav10" (click)="toValhalla(10)"> <a class=[routerLink]="['//dashboard/signup']">
              Signu"nav-link" p </a>
          </li>
        </ul>
      </div>
    </li> -->
    <!-- Nav Dropdown -->
    <li class="list-divider"></li>

    <li class="nav-item nav20" (click)="toValhalla(20)" [routerLink]="['/keyword-lists']">
      <a class="nav-link">
        <i class="ti-menu-alt menu-icon"></i>
        <span class="menu-title">Keyword List </span>
      </a>
    </li>

    <li class="nav-item nav21" (click)="toValhalla(21)" [routerLink]="['/research-results']">
      <a class="nav-link">
        <i class="ti-bookmark-alt menu-icon"></i>
        <span class="menu-title">Keyword Results </span>
      </a>
    </li>


    <li class="nav-item nav30" (click)="toValhalla(30)" [routerLink]="['/publishing']">
      <a class="nav-link">
        <i class="ti-layers-alt menu-icon"></i>
        <span class="menu-title">Articles</span>
      </a>
    </li>


    <!-- <li class="nav-item nav40" (click)="toValhalla(40)" [routerLink]="['/user-management']">
      <a class="nav-link">
        <i class="ti-user menu-icon"></i>
        <span class="menu-title">User Database</span>
      </a>
    </li> -->


    <li class="nav-item nav50" (click)="toValhalla(50)" [routerLink]="['/billing']">
      <a class="nav-link">
        <i class="ti-money menu-icon"></i>
        <span class="menu-title">Billing</span>
      </a>
    </li>

    <li class="nav-item nav70" (click)="toValhalla(70)" [routerLink]="['/account']">
      <a class="nav-link">
        <i class="ti-settings menu-icon"></i>
        <span class="menu-title">Settings</span>
      </a>
    </li>

    <!-- <li class="nav-item nav80" (click)="toValhalla(80)" [routerLink]="['/journal-management']">
      <a class="nav-link">
        <i class="ti-bookmark-alt menu-icon"></i>
        <span class="menu-title">Work Done Register</span>
      </a>
    </li> -->


    <!-- <li class="nav-item nav90" *ngIf="Shop?.user_type != 2" (click)="toValhalla(90)"
      [routerLink]="['/approval-management']">
      <a class="nav-link">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Pending Approvals</span>
      </a>
    </li> -->


    <!-- <li class="nav-item nav100" (click)="toValhalla(100)" [routerLink]="['/notepad-management']">
      <a class="nav-link">
        <i class="ti-marker-alt menu-icon"></i>
        <span class="menu-title">Notepad</span>
      </a>
    </li> -->
  </ul>
</nav>
