<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="profile">
    <!-- <div class="profile-image">
      <img src="../../../assets/icons/Container.png" alt="">
    </div>
    <div class="profile-name">Chris Martin</div>
    <div class="profile-type">Free account</div> -->
    <div class="form-group">
      <!-- <label class="col-sm-3 col-form-label"></label> -->
      <div class="">
        <select class="form-control">
          <option>Category1</option>
          <option>Category2</option>
          <option>Category3</option>
          <option>Category4</option>
        </select>
      </div>
    </div>
    <div class="profile-end"><svg width="224" height="1" viewBox="0 0 224 1" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <line y1="0.5" x2="224" y2="0.5" stroke="#E1E1FB" />
      </svg>
    </div>
  </div>

  <ul class="nav">

    <!-- Nav -->
    <!-- <li class="nav-item nav10" (click)="toValhalla(10)">
      <a class="nav-link" [routerLink]="['/dashboard']">
        <i class="ti-bell menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" (click)="toValhalla(10)" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
        aria-controls="ui-basic">
        <i class="ti-bell menu-icon"></i>
        <span class="menu-title">Dashboard</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link">Start New</a>
          </li>
          <li class="nav-item"> <a class="nav-link">View projects</a></li>
        </ul>
      </div>
    </li>
    <!-- Nav -->
    <!-- Nav Dropdown -->
    <!-- <li class="nav-item nav10" (click)="toValhalla(10)">
      <a class="nav-e link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">Auth Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item nav10" (click)="toValhalla(10)"> <a class=[routerLink]="['//dashboard/signin']">
              Signi"nav-link" n </a>
          </li>
          <li class="nav-item nav10" (click)="toValhalla(10)"> <a class=[routerLink]="['//dashboard/signup']">
              Signu"nav-link" p </a>
          </li>
        </ul>
      </div>
    </li> -->
    <!-- Nav Dropdown -->
    <li class="list-divider"></li>

    <!-- Nav Single -->
    <li class="nav-item nav20" (click)="toValhalla(20)" [routerLink]="['/dashboard/product-management']">
      <a class="nav-link">
        <i class="ti-bar-chart-alt menu-icon"></i>
        <span class="menu-title">Analytics</span>
      </a>
    </li>
    <!-- Nav Single -->

    <!-- Nav Single -->
    <li class="nav-item nav21" (click)="toValhalla(21)" [routerLink]="['/dashboard/customer-management']">
      <a class="nav-link">
        <i class="ti-bookmark-alt menu-icon"></i>
        <span class="menu-title">Articles</span>
      </a>
    </li>
    <!-- Nav Single -->


    <!-- Nav Single -->
    <li class="nav-item nav30" (click)="toValhalla(30)" [routerLink]="['/dashboard/vendor-management']">
      <a class="nav-link">
        <i class="ti-layers-alt menu-icon"></i>
        <span class="menu-title">Pages</span>
      </a>
    </li>
    <!-- Nav Single -->


    <!-- Nav Single -->
    <!-- <li class="nav-item nav40" (click)="toValhalla(40)" [routerLink]="['/dashboard/user-management']">
      <a class="nav-link">
        <i class="ti-user menu-icon"></i>
        <span class="menu-title">User Database</span>
      </a>
    </li> -->
    <!-- Nav Single -->


    <!-- Nav Single -->
    <li class="nav-item nav50" (click)="toValhalla(50)" [routerLink]="['/dashboard/pricing']">
      <a class="nav-link">
        <i class="ti-money menu-icon"></i>
        <span class="menu-title">Pricing</span>
      </a>
    </li>
    <!-- Nav Single -->


    <!-- Nav Single -->
    <li class="nav-item nav60" (click)="toValhalla(60)" [routerLink]="['/dashboard/purchase-management']">
      <a class="nav-link">
        <i class="ti-user menu-icon"></i>
        <span class="menu-title">Users</span>
      </a>
    </li>
    <!-- Nav Single -->

    <!-- Nav Single -->
    <li class="nav-item nav70" (click)="toValhalla(70)" [routerLink]="['/dashboard/expense-management']">
      <a class="nav-link">
        <i class="ti-settings menu-icon"></i>
        <span class="menu-title">Settings</span>
      </a>
    </li>
    <!-- Nav Single -->


    <!-- Nav Single -->
    <!-- <li class="nav-item nav80" (click)="toValhalla(80)" [routerLink]="['/dashboard/journal-management']">
      <a class="nav-link">
        <i class="ti-bookmark-alt menu-icon"></i>
        <span class="menu-title">Work Done Register</span>
      </a>
    </li> -->
    <!-- Nav Single -->


    <!-- Nav Single -->
    <!-- <li class="nav-item nav90" *ngIf="Shop?.user_type != 2" (click)="toValhalla(90)"
      [routerLink]="['/dashboard/approval-management']">
      <a class="nav-link">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Pending Approvals</span>
      </a>
    </li> -->
    <!-- Nav Single -->


    <!-- Nav Single -->
    <!-- <li class="nav-item nav100" (click)="toValhalla(100)" [routerLink]="['/dashboard/notepad-management']">
      <a class="nav-link">
        <i class="ti-marker-alt menu-icon"></i>
        <span class="menu-title">Notepad</span>
      </a>
    </li> -->
    <!-- Nav Single -->








  </ul>
</nav>
