.nav-item {
  cursor: pointer;
  border: none !important;
}

nav {
  // margin-top: -2em;
  // position: absolute;
  // top: 0;
}

.form-group span {
  color: black !important;
}


.custom {
  color: black !important;
}
