// ////////////////////////////////////////////////////////////////////////////
// For Standars Saaa
// ////////////////////////////////////////////////////////////////////////////


.page-body-wrapper {
  padding-top: 0 !important;
}

body {
  background-color: #F7FAFC;
  font-family: 'Mulish',
    sans-serif;
}


.form-group {
  margin: 1.5em 0em;

  label {
    font-weight: 200;
    color: #696F79;
  }

  // color: #fff;
  font-family: Helvetica,
  Sans-Serif;
  font-style: normal;
  font-weight: bold;
  animation: pulse 3s ease-in;

  span {
    color: red;
  }

  .form-control {
    opacity: 1;
    padding: 2em 1.2em;
    box-sizing: border-box;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
  }

  .form-control.success {
    border-color: #12E4B2;
  }

  .error {
    color: red;
    font-weight: 200;

    .form-control {
      border-color: red;
    }
  }
}

// ////////////////////////////////////////////////////////////////////////////
// For Standars Saaa
// ////////////////////////////////////////////////////////////////////////////



// ////////////////////////////////////////////////////////////////////////////
// For DesktopDevice ~DESKTOP
// ////////////////////////////////////////////////////////////////////////////

header {
  .login {
    padding: 0.5em 2.5em;
    font-size: 14px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 5em 1em 5em;
    background-color: white;
  }
}

.signin-section {
  // margin-top: 20vh;
  display: flex;
  align-items: stretch;
  justify-content: space-between;



  #content-part {
    display: flex;
    width: 50%;
    height: 10%;
    flex-direction: column;
    justify-content: space-between;
    // padding: 0em 1em 5em 0;
    // margin: 5em 0em 28em 0;

    svg {
      height: 100% !important;
      width: 80% !important;
    }

  }

  #form-part {
    width: 50%;
    padding: 0em 8em;
    border-radius: 8px;

    .top-line {
      margin: 3em 0em;
    }

    .btn {
      font-size: 1em;
      line-height: 1em;
      color: #FFF;
      width: 100%;

      border: 2px solid #1ABE97;
      // margin: 1.5em 0;
      padding: 1.4em 1.2em;
      // min-width: 180px;
      // width: 180px;
      background-color: #1ABE97;
      font-weight: 600;
      box-shadow: 0px 4px 50px 0px #00000017;

    }

    .login-button:hover {
      color: #FFF;
      border: 2px solid #1ABE97;
      background-color: #129b7b;
    }

    .login-button {
      margin: 1.5em 0;
    }

    .facebook-button {
      margin: 0.5em 0;
      color: #FFF;
      border: 2px solid #1877F2;
      background-color: #1877F2;
    }

    .google-button {
      margin: 0.5em 0;
      color: #0000008A;
      border: 2px solid #FFF;
      background-color: #FFF;
      box-shadow: 0px 4px 50px 0px #00000017;

    }

    .checkmark {
      height: 1.3em;
      width: 1.3em;
      background-color: #eee;
    }

    input:checked~.checkmark {
      background-color: #1ABE97;
    }


    a {
      color: #2E3F46;
      text-align: center;
      display: flex;
      justify-content: flex-end;
      text-decoration: none;

      span {
        padding: 0em 0.6em;
        // text-decoration: underline;
        color: #8692A6;
      }
    }


    .orline {
      color: #BABABA;
      display: flex;
      justify-content: space-between;
      margin: 1em;
    }

  }


}

.profile {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  // padding: 1em 0em;

  .profile-image {
    margin: 1em;
  }

  .profile-name {
    font-weight: 800;
    font-size: 1.2em;
  }

  .profile-type {
    color: #1ABE97;
    font-weight: 200;
  }

  .profile-end {
    padding-top: 1em;
  }

}

// ////////////////////////////////////////////////////////////////////////////
// For DesktopDevice ~DESKTOP
// ////////////////////////////////////////////////////////////////////////////




// ////////////////////////////////////////////////////////////////////////////
// Media query For MobileDevice ~MOBILE
// ////////////////////////////////////////////////////////////////////////////

@media (max-width: 991px) {
  body {
    zoom: 2;
    // padding: 0em 2em 0em 2em;
  }

  header {
    margin-top: 8vh;

    nav {
      padding: 1em 2em 2em 1em !important;
    }

    .login {
      padding: 0.5em 2.5em;
      font-size: 17px;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 1em 5em 1em 5em;
      background-color: white;
    }
  }

  .signin-section {
    margin-top: 5vh;
    // zoom: 2;
    display: flex;
    flex-direction: column;

    #content-part {
      display: flex;
      width: 100%;
      margin: 0em 0em 1em 0;

    }

    #form-part {
      width: 100%;
    }
  }

}

// ////////////////////////////////////////////////////////////////////////////
// Media query For MobileDevice ~MOBILE
// ////////////////////////////////////////////////////////////////////////////
