<div class="box">
  <div class="screen">
    <div class="top-line">
      <div class="content-one">Content Snippets <span>(82)</span></div>
      <div class="content-two fr">
        <div class="">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton8" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
              Export
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton8">
              <a class="dropdown-item" href="#">As Google Doc</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">To Wordpress</a>
              <!-- <div class="dropdown-divider"></div> -->
            </div>
          </div>
        </div>

        <button class="btn" type="submit">
          Next
        </button>
      </div>
    </div>
    <div class="box-screen">
      <div class="content">
        <div class="content-heading">How to make food at home? </div>
        <div class="content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet
          magna
          efficitur consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna efficitur
        </div>
        <div class="end-line">
          <hr>
        </div>
      </div>
      <div class="content">
        <div class="content-heading">How to make food at home? </div>
        <div class="content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet
          magna
          efficitur consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna efficitur
        </div>
        <div class="end-line">
          <hr>
        </div>
      </div>
      <div class="content">
        <div class="content-heading">How to make food at home? </div>
        <div class="content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet
          magna
          efficitur consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna efficitur
        </div>
        <div class="end-line">
          <hr>
        </div>
      </div>
      <div class="content">
        <div class="content-heading">How to make food at home? </div>
        <div class="content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet
          magna
          efficitur consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna
          efficitur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet leo sit amet magna efficitur
        </div>
        <div class="end-line">
          <hr>
        </div>
      </div>
    </div>

  </div>
  <div class="score-bar">
    <div class="screen-two">
      <div class="top-line">Lorem ipsum</div>
      <div class="overall-score">
        <div class="score m-0">
          <div class="score-name">Overall Score</div>
          <div class="score-value"> 85</div>
        </div>
        <a>
          See Performance
        </a>
      </div>
      <!--  -->
      <div class="premium-score">
        <div class="score-one">
          <div class="score">
            <div class="score-name">Plagiarism score</div>
            <div class="score-value"> 85</div>
          </div>
          <button class="btn" type="submit">
            Check Plagiarism
          </button>
        </div>
        <hr>
        <div class="score-two">
          <div class="score">
            <div class="score-name">Content score</div>
            <div class="score-value"> 85</div>
          </div>
          <button class="btn" type="submit">
            Content Spin
          </button>
        </div>
        <hr>
        <div class="score-three">
          <div class="score">
            <div class="score-name">Grammatical</div>
            <div class="score-value"> 85</div>
          </div>
          <button class="btn" type="submit">
            Check Grammar
          </button>
        </div>
      </div>
      <!--  -->
      <!-- <div class="not-premium">
        <div class="not-premium-cta">
          <button class="btn" type="submit">
            Unlock Premium<svg width="10" height="14" viewBox="0 0 10 14" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.75 4.66667H8.125V3.33333C8.125 1.49333 6.725 0 5 0C3.275 0 1.875 1.49333 1.875 3.33333V4.66667H1.25C0.5625 4.66667 0 5.26667 0 6V12.6667C0 13.4 0.5625 14 1.25 14H8.75C9.4375 14 10 13.4 10 12.6667V6C10 5.26667 9.4375 4.66667 8.75 4.66667ZM5 10.6667C4.3125 10.6667 3.75 10.0667 3.75 9.33333C3.75 8.6 4.3125 8 5 8C5.6875 8 6.25 8.6 6.25 9.33333C6.25 10.0667 5.6875 10.6667 5 10.6667ZM6.9375 4.66667H3.0625V3.33333C3.0625 2.19333 3.93125 1.26667 5 1.26667C6.06875 1.26667 6.9375 2.19333 6.9375 3.33333V4.66667Z"
                fill="white" />
            </svg>
          </button>
        </div>
        <div class="not-premium-score">
          <div class="score-one">
            <div class="score">
              <div class="score-name">Plagiarism score</div>
              <div class="score-value"> -- </div>
            </div>
            <button class="btn" type="submit">
              Check Plagiarism
            </button>
          </div>
          <hr>
          <div class="score-two">
            <div class="score">
              <div class="score-name">Content score</div>
              <div class="score-value"> -- </div>
            </div>
          </div>
          <hr>
          <div class="score-three">
            <div class="score">
              <div class="score-name">Grammatical</div>
              <div class="score-value"> -- </div>
            </div>
            <button class="btn" type="submit">
              Check Grammar
            </button>
          </div>
        </div>
      </div> -->
      <!--  -->
    </div>
  </div>
</div>
